
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 38% 96%;
    --foreground: 24 10% 25%;
    --card: 40 33% 99%;
    --card-foreground: 24 10% 25%;
    --popover: 40 33% 99%;
    --popover-foreground: 24 10% 25%;
    --primary: 24 94% 55%;
    --primary-foreground: 40 33% 99%;
    --secondary: 40 20% 90%;
    --secondary-foreground: 24 10% 25%;
    --muted: 40 20% 90%;
    --muted-foreground: 24 10% 45%;
    --accent: 24 94% 55%;
    --accent-foreground: 40 33% 99%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 85%;
    --input: 40 20% 90%;
    --ring: 24 94% 55%;
    --chart-1: 346.8 77.2% 49.8%;
    --chart-2: 0 75% 61%;
    --chart-3: 0 78% 71%;
    --chart-4: 0 81% 81%;
    --chart-5: 0 84% 91%;
    --radius: 1.2rem;
  }

  .dark {
    --background: 24 10% 15%;
    --foreground: 40 33% 99%;
    --card: 24 10% 20%;
    --card-foreground: 40 33% 99%;
    --popover: 24 10% 20%;
    --popover-foreground: 40 33% 99%;
    --primary: 24 94% 55%;
    --primary-foreground: 40 33% 99%;
    --secondary: 24 10% 25%;
    --secondary-foreground: 40 33% 99%;
    --muted: 24 10% 25%;
    --muted-foreground: 40 10% 65%;
    --accent: 24 94% 55%;
    --accent-foreground: 40 33% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 30%;
    --input: 24 10% 25%;
    --ring: 24 94% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }

  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    background: hsl(var(--primary));
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(var(--background));
}

main.app-container {
  width: 100%;
  max-width: 430px; /* iPhone 14 Pro Max width */
  min-height: 100vh;
  background-color: hsl(var(--background));
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

